/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #316879; /* Warna latar belakang yang lebih sederhana */
    color: #333;
}

.container {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 20px 40px;
    max-width: 800px;
    width: 90%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    margin: 0;
    font-size: 3em;
    color: #333;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.profile {
    text-align: center;
    margin-bottom: 30px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out;
}

.profile-img:hover {
    transform: scale(1.1);
}

.profile h2 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.details, .education, .experience {
    margin-bottom: 30px;
}

.details h2, .education h2, .experience h2 {
    margin-bottom: 15px;
    font-size: 2em;
    color: #7fe7dc;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid #333;
    padding-bottom: 10px;
    position: relative;
}

.details h2::after, .education h2::after, .experience h2::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background: #ced7d8;
    bottom: -3px;
    left: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #ced7d8;
    color: #333131;
}

td {
    background-color: #f9f9f9;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

ul li::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: #ced7d8;
    left: 0;
    top: 0;
    bottom: 0;
    transition: width 0.3s ease-in-out;
}

ul li:hover {
    transform: translateY(-5px);
}

ul li:hover::before {
    width: 100%;
}

/* Style untuk detail pendidikan dan pengalaman kerja */
.education-details,
.experience-details {
    display: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 999;
}

.education:hover .education-details,
.experience:hover .experience-details {
    display: block;
}
